@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,400&family=Playfair+Display:ital,wght@0,400;0,500;1,900&family=Roboto:ital,wght@0,100;0,700;1,100&display=swap');


*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Crimson Text', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  background: rgb(44, 43, 43);
  font-size: 16px;
  color: aliceblue;
}

button{
  background: pink;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

button:hover {
  background-color: rgb(139, 107, 112);
  color: aliceblue;
}

form {
  padding: 0 10px;
}

input {
  display: block;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.4s ease-in-out;
  outline: none;
}

input:focus {
  border-color: #e08594;
  color: grey;
}